<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Inicio</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css"/>

    <style>
      .gj-datepicker-bootstrap [role=right-icon] button {
        height: 33px;
      }
    </style>
</head>

<body>

    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="/logout">Logout</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Bienvenido</h3>
        </div>

        <div class="jumbotron">
            <h1>Bienvenido!</h1>
        </div>

        <div class="row">
            <div class="card card-body">
                <form action="/editBond/{{bond.0}}" method="POST">
                  <div class="form-group">
                      <label>Flavor</label>
                      <input type="text" class="form-control" name="flavor" value="{{bond.2}}" id="flavor" required pattern="^[a-zA-Z]+$">
                  </div>
                  <div class="form-group">
                    <label>Ticker Symbol</label>
                    <input type="text" class="form-control" name="ticker_symbol" value="{{bond.3}}" id="tickerSymbol" required pattern="^[a-zA-Z][a-zA-Z0-9]*$">
                  </div>
                  <div class="form-group">
                    <label>Tycker</label>
                    <input type="text" class="form-control" name="ticker" value="{{bond.4}}" id="tycker" required pattern="^[a-zA-Z]+$">
                  </div>
                  <div class="form-group">
                    <label>Currency</label>
                    <input type="text" class="form-control" name="currency" value="{{bond.5}}" id="currency" required>
                  </div>
                  <div class="form-group">
                    <label>Issue Date</label>
                    <input style="display: inline-block; width: 1130px;" type="datetime" value="{{bond.6}}" id="datepicker1" name="issue_date" required pattern="^(((0)[0-9])|((1)[0-2]))(\/)([0-2][0-9]|(3)[0-1])(\/)\d{4}$" >
                    <script>
                      $('#datepicker1').datepicker({
                          uiLibrary: 'bootstrap4'
                      });
                    </script>
                  </div>
                  <div class="form-group">
                    <label>Original Issue Date</label>
                    <input type="text" class="form-control" name="original_issue_date" value="{{bond.7}}" id="originalIssueDate" required pattern="^[0-9]*$">
                  </div>
                  <div  class="form-group">
                    <label>First Coupon Date</label>
                    <input style="display: inline-block; width: 1130px;" type="datetime" value="{{bond.8}}" id="datepicker2" name="first_coupon_date" required pattern="^(((0)[0-9])|((1)[0-2]))(\/)([0-2][0-9]|(3)[0-1])(\/)\d{4}$" >
                    <script>
                      $('#datepicker2').datepicker({
                          uiLibrary: 'bootstrap4'
                      });
                    </script>
                  </div>
                  <div class="form-group">
                    <label>Coupon</label>
                    <input type="text" class="form-control" name="coupon" id="coupon" value="{{bond.9}}" required pattern="^[a-zA-Z][a-zA-Z0-9]*$">
                  </div>
                  <div class="form-group">
                    <label>Matuirity Date</label>
                    <input style="display: inline-block; width: 1130px;" type="datetime" value="{{bond.10}}" id="datepicker3" name="maturity_date" required pattern="^(((0)[0-9])|((1)[0-2]))(\/)([0-2][0-9]|(3)[0-1])(\/)\d{4}$" >
                    <script>
                      $('#datepicker3').datepicker({
                          uiLibrary: 'bootstrap4'
                      });
                    </script>
                  </div>
                  <div class="form-group">
                    <label>Auction Date</label>
                    <input style="display: inline-block; width: 1130px;" type="datetime" value="{{bond.11}}" id="datepicker4" name="auction_date" required pattern="^(((0)[0-9])|((1)[0-2]))(\/)([0-2][0-9]|(3)[0-1])(\/)\d{4}$" >
                    <script>
                      $('#datepicker4').datepicker({
                          uiLibrary: 'bootstrap4'
                      });
                    </script>
                  </div>
                  <div class="form-group">
                    <label>ISIN</label>
                    <input type="text" class="form-control" name="isin" id="isin" value="{{bond.12}}" required pattern="^[a-zA-Z][a-zA-Z0-9]*$">
                  </div>
                  <div class="form-group">
                    <label>Total Issue Size</label>
                    <input type="text" class="form-control" name="total_issue_size" value="{{bond.13}}" id="totalIssueSize" required pattern="^[0-9]*$">
                  </div>
                  <button type="submit" class="btn btn-success">Submit</button>
                </form>
             </div>
        </div>

        <footer class="footer">
            <p>&copy; FinacieraBonos 2020</p>
        </footer>

    </div>
</body>

</html>